@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*Seccion CartWitget*/
.cart{
  background-color: #F4AC94;
}
.cart:hover{
  background-color: #D66C52;
}
/*Seccion Header*/
.header {
  text-align: center;
  background-color: #F7D0CB;
}
.navbar{
  background-color: #F4AC94;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
}
.nav-link{
  color: #dedede
}
.App-header {
  background-color: #dedede;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*Carousel*/
.carousel-item>img{
  width: 75%;
  height: 30em;
}
/*Items*/
.card{
  border: 2px solid #F7D0CB;
}

.card-body>.btn{
  background-color: #D66C52;
  border-color: #F4AC94;
}
/*Clients*/
.clients>img{
  margin-top: 1em;
  align-self: center;
  border-radius: 50%;
  width: 12em;
}