@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  background-image: url("../public/images/fondo.png");
  background-position: center;
  background-size: cover;
  font-family: "Rubik", sans-serif;
}

h1,
h3 {
  color: #ffdede;
  background-color: #f4ac94;
  border-radius: 5px;
  width: 30%;
  margin: 0 auto;
}

.dogs{
  height: 13.5em;
  width: 50%;
  border: #d66c52 solid .25em;
  border-radius: 50%;
}
/*Loader*/
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 160px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 80px;
  height: 80px;
  background: #f4ac94;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  background: #f4ac94;
  box-shadow: 5px 4px 5px #0004 inset;
}
.lds-heart div:before {
  left: -60px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -60px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
.loader{
  font-size: 48px;
  color: #f4ac94;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:before{
  content: '';
  animation: 1.5s print linear alternate infinite;
}
.loader:after{
  content: '';
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translatey(-45%);
  width: 2px;
  height: 1.3em;
  background: currentColor;
  opacity: 0.8;
  animation: 1s blink steps(2) infinite;
}

@keyframes blink {
  0%  { visibility: hidden;}
  100%  { visibility: visible;}
}
@keyframes print {
  0% { content: 'L'}
  10% { content: 'Lo'}
  20% { content: 'Loa'}
  30% { content: 'Load'}
  40% { content: 'Loadi'}
  50% { content: 'Loadin'}
  60% { content: 'Loading'}
  70% { content: 'Loading.'}
  80% { content: 'Loading..'}
  90% , 100% { content: 'Loading...'}
}
/*Seccion CartWitget*/
.cart{
  background-color: #f4ac94;
}
.cart:hover{
  background-color: #d66c52;
}

td,th{
  text-align: center;
  vertical-align: middle;
}

td>img{
  border-radius:2px;
}
/*Seccion Header*/
.header {
  text-align: center;
  background-color: #f7d0cb;
}
.navbar,
.drop {
  background-color: #f4ac94;
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
}
.nav-item > .nav-link,
.dropdown-item {
  color: #ffdede;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link,
.dropdown-item.active,
.dropdown-item:active {
  color: #fefefe;
}

/*Carousel*/
.carousel-item > img {
  width: 75%;
  height: 30em;
}
/*Items*/
.card {
  border: 2px solid #f7d0cb;
}
.card > img {
  cursor: pointer;
  align-self: center;
  width: 13em;
}
.btn {
  background-color: #d66c52;
  border-color: #f4ac94;
}
.btn:hover {
  background-color: #f4ac94;
  border-color: #f7d0cb;
}
/*items detail*/
.card > .img__detail {
  width: 20em;
}
/*Clients*/
.clients > img {
  margin-top: 1em;
  align-self: center;
  border-radius: 50%;
  width: 12em;
}
