/*Seccion CartWitget*/
.cart{
  
  background-color: #F4AC94;
}
.cart:hover{
  background-color: #D66C52;
}
/*Seccion Header*/
.header {
  text-align: center;
  background-color: #F7D0CB;
}

.App-header {
  background-color: #dedede;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*Carousel*/
.carousel-item>img{
  width: 75%;
  height: 30em;
}